extends layout

block content
  div(id='indexPageBody')
    div(id='recipeFeed')
      each val in recipes
        div(class='recipe')
          h3= val.title
          p= val.author
          ul
            each subVal in val.main_ingredients
              li= subVal
          if !Object.sub_ingredients
            ul
              each subVal in val.sub_ingredients
                li= subVal
          p= val.instructions
          p= val.notes
        div(class='recipeDivide')
        
    
