extends layout

block content
  div(id='indexPageBody')
    div(id='recipeFeed')
      each val in recipes
        div(class='recipe')
          div(id='recipeHeader')
            h3= val.title
            span(id='recipeDelete' class='material-icons' style="display: none;") delete
          p= val.author
          ul
            each subVal in val.main_ingredients
              li= subVal
          if !Object.sub_ingredients
            ul
              each subVal in val.sub_ingredients
                li= subVal
          p= val.instructions
          p= val.notes
        div(class='recipeDivide')

  script(src='javascripts/index.js')
        
    
