extends layout

block content
  div(id='mainRecipePageDiv')
    div(id='recipeSearch')
      h2 Recipe Catalog
      ul
        li
          button(class='recipeButton' id='showAllRecipesButton') Show All Recipes  
      h4 Sort Recipe by Title:
      ul(id='recipeSearchOptions')
        li
          button(class='recipeButton' id='A_EButton') A - E
        li
          button(class='recipeButton' id='F_JButton') F - J
        li
          button(class='recipeButton' id='K_OButton') K - O
        li
          button(class='recipeButton' id='P_TButton') P - T
        li
          button(class='recipeButton' id='U_ZButton') U - Z
    div(id='recipeSearchFeed')
      div(id='showAllRecipes')
        div(class='recipeFeed')
          if allRecipes.length == 0
            h2 There are no Recipes
          else
            each val in allRecipes
              button(type='button' class='collapsible')= val.title
                span(id='recipeDelete' class='material-icons' data-recipe-id=val._id style="display: none;") delete
              div(class='content')
                p= `Author: ${val.author}`
                ul
                  each subVal in val.main_ingredients
                    li= subVal
                if !Object.sub_ingredients
                  ul
                    each subVal in val.sub_ingredients
                      li= subVal
                p= val.instructions
                p= val.notes
      div(id='recipesA_E')
        div(class='recipeFeed')
          if recipesA_E.length == 0
            h2 There are no Recipes matching this category, YET!
          else
            each val in recipesA_E
              button(type='button' class='collapsible')= val.title
                span(id='recipeDelete' class='material-icons' data-recipe-id=val._id style="display: none;") delete
              div(class='content')
                p= `Author: ${val.author}`
                ul
                  each subVal in val.main_ingredients
                    li= subVal
                if !Object.sub_ingredients
                  ul
                    each subVal in val.sub_ingredients
                      li= subVal
                p= val.instructions
                p= val.notes
      div(id='recipesF_J')
        div(class='recipeFeed')
          div(class='recipe')
            if recipesF_J.length == 0
              h2 There are no Recipes matching this category, YET!
            else
            each val in recipesF_J
              button(type='button' class='collapsible')= val.title
                span(id='recipeDelete' class='material-icons' data-recipe-id=val._id style="display: none;") delete
              div(class='content')
                p= `Author: ${val.author}`
                ul
                  each subVal in val.main_ingredients
                    li= subVal
                if !Object.sub_ingredients
                  ul
                    each subVal in val.sub_ingredients
                      li= subVal
                p= val.instructions
                p= val.notes
      div(id='recipesK_O')
        div(class='recipeFeed')
          if recipesK_O.length == 0
            h2 There are no Recipes matching this category, YET!
          else
            each val in recipesK_O
              button(type='button' class='collapsible')= val.title
                span(id='recipeDelete' class='material-icons' data-recipe-id=val._id style="display: none;") delete
              div(class='content')
                p= `Author: ${val.author}`
                ul
                  each subVal in val.main_ingredients
                    li= subVal
                if !Object.sub_ingredients
                  ul
                    each subVal in val.sub_ingredients
                      li= subVal
                p= val.instructions
                p= val.notes
      div(id='recipesP_T')
        div(class='recipeFeed')
          if recipesP_T.length == 0
            h2 There are no Recipes matching this category, YET!
          else
            each val in recipesP_T
              button(type='button' class='collapsible')= val.title
                span(id='recipeDelete' class='material-icons' data-recipe-id=val._id style="display: none;") delete
              div(class='content')
                p= `Author: ${val.author}`
                ul
                  each subVal in val.main_ingredients
                    li= subVal
                if !Object.sub_ingredients
                  ul
                    each subVal in val.sub_ingredients
                      li= subVal
                p= val.instructions
                p= val.notes
      div(id='recipesU_Z')
        div(class='recipeFeed')
          if recipesU_Z.length == 0
            h2 There are no Recipes matching this category, YET!
          else
            each val in recipesU_Z
              button(type='button' class='collapsible')= val.title
                span(id='recipeDelete' class='material-icons' data-recipe-id=val._id style="display: none;") delete
              div(class='content')
                p= `Author: ${val.author}`
                ul
                  each subVal in val.main_ingredients
                    li= subVal
                if !Object.sub_ingredients
                  ul
                    each subVal in val.sub_ingredients
                      li= subVal
                p= val.instructions
                p= val.notes
 
  script(type='text/javascript' src='/javascripts/recipes.js')
