html
  head
    title Recipe Box | Sign Up
    link(rel='stylesheet', type='text/css', href='/stylesheets/sign_up_style.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    div(id='mainHolder')
      a(class='backImg' href='/')
        span(class='material-icons' id='backArrow') exit_to_app
      h1(id='signUpHeader')='Sign Up'
      p(id='signUpRequiredText')='Fields with a * are required.'
      form(id='signUpForm')
        input(type='text' placeholder='First Name*' id='firstNameField' class='signUpFormField' name='firstName' value=null required)
        input(type='text' placeholder='Middle Name' id='middleNameField' class='signUpFormField' name='middleName')
        input(type='text' placeholder='Last Name*' id='lastNameField' class='signUpFormField' name='lastName' value=null required)
        input(type='text' placeholder='Example@email.com*' id='emailField' class='signUpFormField' name='email' value=null required)
        input(type='text' placeholder='UserName*' id='userNameField' class='signUpFormField' name='userName' value=null required)
        input(type='text' placeholder='Password*' id='passwordField' class='signUpFormField' name='password' value=null required)
        input(type='text' placeholder='Confirm Password*' id='passwordConfirmField' class='signUpFormField' name='confirmPassword' value=null required)
        input(type='text' placeholder='Admin ID' id='adminIdField' class='signUpFormField' name='adminId')
        input(type='submit' value='Sign Up' id='signUpFormSubmit')

script(src='javascripts/js.cookie.min.js')
script(src='javascripts/axios.min.js')
script(type='text/javascript' src='javascripts/sign_up.js')